<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mo-inha</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        	<meta charset="euc-kr">
        	<title>구글맵 API 활용하기</title>
        	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        	<script>
        		function initialize() {
        
        			/*
        				http://openapi.map.naver.com/api/geocode.php?key=f32441ebcd3cc9de474f8081df1e54e3&encoding=euc-kr&coord=LatLng&query=서울특별시 강남구 강남대로 456
                        위와같이 링크에서 뒤에 주소를 적으면 x,y 값을 구할수 있습니다.
        			*/
        			var Y_point			= 37.450428;		// Y 좌표
        			var X_point			= 126.651925;		// X 좌표
    
        			var zoomLevel		= 17;						// 지도의 확대 레벨 : 숫자가 클수록 확대정도가 큼
        
        			var markerTitle		= "인하대";				// 현재 위치 마커에 마우스를 오버을때 나타나는 정보
        			var markerMaxWidth	= 300;						// 마커를 클릭했을때 나타나는 말풍선의 최대 크기
        
        			// 말풍선 내용
        			var contentString	= '<div>' +
        			'<h2>인하대 농구장</h2>'+
        			
        			//'<a href="http://www.daegu.go.kr" target="_blank">http://www.daegu.go.kr</a>'+ //링크도 넣을 수 있음
        			'</div>';
        
        			var myLatlng = new google.maps.LatLng(Y_point, X_point);
        			var mapOptions = {
        								zoom: zoomLevel,
        								center: myLatlng,
        								mapTypeId: google.maps.MapTypeId.ROADMAP
        			}
        			var map = new google.maps.Map(document.getElementById('map_view'), mapOptions);
        
        			var marker = new google.maps.Marker({
        													position: myLatlng,
        													map: map,
        													title: markerTitle
        			});
        
        			var infowindow = new google.maps.InfoWindow(
        														{
        															content: contentString,
        															maxWidth: markerMaxWidth
        														}
        			);
        
        			google.maps.event.addListener(marker, 'click', function() {
        				infowindow.open(map, marker);
        			});
        		}
        	</script>
</head>

<body onload="initialize()">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MOINHA</a>
            </div>
          
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   	<li><a href="home/sports">운동</a></li>
					<li><a href="home/game">게임</a></li>
					<li><a href="home/reading">독서</a></li>
					<li><a href="home/circle">동아리</a></li>
					<li><a href="#">공연/전시</a></li>
					<li><a href="home/facility">시설정보</a></li>
               
                    		<li>
        						<a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">로그인</a>
        					</li>
        					<li>
        						<a href="#">회원가입</a>
        					</li>
                       
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!--헤더 슬라이더-->
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>-->
                    <div class="fill">
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="https://s3-eu-central-1.amazonaws.com/centaur-wp/fundstrategy/prod/content/uploads/2013/06/China-Shanghai-Modern-Asia-700x4501.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="https://s3-eu-central-1.amazonaws.com/centaur-wp/fundstrategy/prod/content/uploads/2014/08/Spotlight-on-charges.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 1</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://www.nature.org/cs/groups/webcontent/@photopublic/documents/media/shanghai-yangtze-700x450.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 2</h4>
                </div>
            </div>
            <div class="item">
                     <div class="fill">
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div> 
                <div class="carousel-caption">
                    <h4>Caption 3</h4>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>






            
            



<!---------------------------로그인창 start---------------------->
  <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">로그인</h4>
        </div>
        <div class="modal-body">
          <p>아이디</p>
          <p>비밀번호</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!---------------------------로그인창 end---------------------------->
<br>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3 col-md-3">
    <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">글쓴이 : 임꺽정</a></li>
    <li><a href="#">농구 상대팀 5명 구함</a></li>
    <li><a href="#">장소 : 농구장</a></li>
    <li><a href="#">시간 : 2016.09.13 오후 2시</a></li>
  </ul>
    </div>
    <div class="col-sm-9 col-md-9">
    </div>

  

    <div class="col-sm-3 col-md-3">

    </div>
    <div class="col-sm-9 col-md-9" align="center">
          <div class="row">
          <div class="col-sm-3 col-md-6">
          <h2>오후 2시 농구장, 5명 구합니다</h2>
          <!--</div>-->
          
          <!--<div class="col-sm-3 col-md-3">-->
          </div>
          <div class="col-sm-3 col-md-3">
          <br>    
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
              2명/5명
            </div>
          </div>
          </div>
        <!--</div>-->
        </div>
         <div class="well">우리는 5명인데 상대팀 5명 구합니다. 여기에 내용을 쓸거에요 길어지면 줄일 수 있게 스크롤 바를 해야하나</div>
        <div id="map_view" style="width:500px; height:300px;"></div>
    </div>
    </div> <!--row end-->
  
</div> <!--container end-->






            
            

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 15000 //changes the speed
    })
    
    </script>
    
    

</body>
<style>
    body {
    background-color: #cc9898;
    }
    
    
    div.container-fluid{
    border: 1px solid red;
    margin: 50px;
    

}
    
</style>



</html>
