<html lang="en">

<head>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mo-inha</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        	<meta charset="euc-kr">
        	<title>구글맵 API 활용하기</title>
        	
</head>

<body style=" background-color: #f9f9f9;padding:0 0 0 0;">
  <div class="alert alert-success">
  <nav class="navbar navbar-default" style="padding:0 0 0 0;">
    <div class="navbar-header" style="width:20%;">
      <a class="navbar-brand" style="width:100%;">인천도원수영장 </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="https://moinha-real-cloned0922-ryuk-leejungyeoul.c9users.io/dowon_info" target="iiframe">시설안내</a></li>
      <li><a href="https://moinha-real-cloned0922-ryuk-leejungyeoul.c9users.io/dowon_way" target="iiframe">길찾기</a></li>
      <li><a href="https://moinha-real-cloned0922-ryuk-leejungyeoul.c9users.io/dowon_photo" target="iiframe">사진</a></li>
    </ul>
  </div>
</nav>
<iframe name="iiframe" style="width:100%;height:100%;" src="/dowon_info"></iframe>
</html>