<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mo-inha</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MOINHA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            
   <!--         <nav class="index_desktop">-->
			<!--	<img src="" alt="logo" class="logo">-->
			<!--	<ul class="gnb">-->
			<!--		<li><a href="#">운동</a></li>-->
			<!--		<li><a href="#">연극/영화</a></li>-->
			<!--		<li><a href="#">전시/공연</a></li>-->
			<!--		<li><a href="#">게임</a></li>-->
			<!--		<li><a href="#">독서</a></li>-->
			<!--		<li><a href="#">동아리</a></li>-->
			<!--		<li><a href="#">행사</a></li>-->
			<!--		<li><a href="#">시설정보</a></li>-->
			<!--	</ul>-->
			<!--	<ul class="log">-->
			<!--		<li>-->
			<!--			<a href="#">로그인</a>-->
			<!--		</li>-->
			<!--		<li>-->
			<!--			<a href="#">회원가입</a>-->
			<!--		</li>-->
			<!--	</ul>-->
			<!--</nav>-->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   	<li><a href="home/sports">운동</a></li>
					<li><a href="home/game">게임</a></li>
					<li><a href="home/reading">독서</a></li>
					<li><a href="home/circle">동아리</a></li>
					<li><a href="#">공연/전시</a></li>
					<li><a href="home/facility">시설정보</a></li>
                    <!--<li class="dropdown">-->
                    <!--    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>-->
                    <!--    <ul class="dropdown-menu">-->
                    <!--        <li>-->
                    <!--            <a href="portfolio-1-col.html">1 Column Portfolio</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="portfolio-2-col.html">2 Column Portfolio</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="portfolio-3-col.html">3 Column Portfolio</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="portfolio-4-col.html">4 Column Portfolio</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="portfolio-item.html">Single Portfolio Item</a>-->
                    <!--        </li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    		<li>
        						<a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">로그인</a>
        					</li>
        					<li>
        						<a href="#">회원가입</a>
        					</li>
                        <!--<ul class="log">-->
        				<!--	<li>-->
        				<!--		<a href="#">로그인</a>-->
        				<!--	</li>-->
        				<!--	<li>-->
        				<!--		<a href="#">회원가입</a>-->
        				<!--	</li>-->
        				<!--</ul>-->
                        
                  
                    <!--<li class="dropdown">-->
                    <!--    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>-->
                    <!--    <ul class="dropdown-menu">-->
                    <!--        <li>-->
                    <!--            <a href="blog-home-1.html">Blog Home 1</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="blog-home-2.html">Blog Home 2</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="blog-post.html">Blog Post</a>-->
                    <!--        </li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                    <!--    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>-->
                    <!--    <ul class="dropdown-menu">-->
                    <!--        <li>-->
                    <!--            <a href="full-width.html">Full Width Page</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="sidebar.html">Sidebar Page</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="faq.html">FAQ</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="404.html">404</a>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="pricing.html">Pricing Table</a>-->
                    <!--        </li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!--헤더 슬라이더-->
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>-->
                    <div class="fill">
                        <div class="col-md-4 col-sm-6">
                            <a href="home/detail">
                                <img class="img-responsive img-portfolio img-hover" src="http://withinnews.co.kr/PEG/14352842201644.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="https://s3-eu-central-1.amazonaws.com/centaur-wp/fundstrategy/prod/content/uploads/2014/08/Spotlight-on-charges.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 1</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://www.nature.org/cs/groups/webcontent/@photopublic/documents/media/shanghai-yangtze-700x450.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 2</h4>
                </div>
            </div>
            <div class="item">
                     <div class="fill">
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div> 
                <div class="carousel-caption">
                    <h4>Caption 3</h4>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>






<!--첫번째 슬라이드-->
    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    운동
                </h1>
            </div>
            
            
            <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://img.postshare.co.kr/images/2016/01/17014244/001-oychungso.jpg" alt="">
                </a>
                <h3>
                    <a href="#">대운동장 축구</a>
                </h3>
                <p>2016.09.15 대운동장 축구 11명<br>
                상태: 모집중(현재 2/5명 완료) </p>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->
        </br></br></br></br></br>
            
            
            
            
            
            
            
            
            
            
            
      <div id="myCarouse2" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarouse2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouse2" data-slide-to="1"></li>
            <li data-target="#myCarouse2" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>-->
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://www.nature.org/cs/groups/webcontent/@photopublic/documents/media/water-fund-ecuador-700x450.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                    
                      <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://www.nature.org/cs/groups/webcontent/@photopublic/documents/media/water-fund-ecuador-700x450.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>  
                    
                    
                    
                <div class="carousel-caption">
                    <h4>Caption 1</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://www.nature.org/cs/groups/webcontent/@web/documents/media/eiffel-tower-700x450.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 2</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://www.kwentongofw.com/wp-content/uploads/2016/02/MHD-2012004-modern-house-design-perspective1-700x450.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div> 
                    <div class="carousel-caption">
                        <h4>Caption 3</h4>
                    </div>
            </div>
        </div>
        <!-- Controls -->
        <!--<a class="left carousel-control" href="#myCarouse2" data-slide="prev">-->
        <!--    <span class="icon-prev"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#myCarouse2" data-slide="next">-->
        <!--    <span class="icon-next"></span>-->
        <!--</a>-->
    </div>
</div>
</div>            
            
            
<!--두번째 슬라이더            -->
     <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    게임
                </h1>
            </div>
            
      <div id="myCarouse3" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarouse3" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouse3" data-slide-to="1"></li>
            <li data-target="#myCarouse3" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>-->
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 1</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 2</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div> 
                    <div class="carousel-caption">
                        <h4>Caption 3</h4>
                    </div>
            </div>
        </div>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#myCarouse3" data-slide="prev">-->
        <!--    <span class="icon-prev"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#myCarouse3" data-slide="next">-->
        <!--    <span class="icon-next"></span>-->
        <!--</a>-->
    </div>
</div>
</div>


 <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    독서
                </h1>
            </div>
            
      <div id="myCarouse4" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarouse4" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouse4" data-slide-to="1"></li>
            <li data-target="#myCarouse4" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>-->
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 1</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 2</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div> 
                    <div class="carousel-caption">
                        <h4>Caption 3</h4>
                    </div>
            </div>
        </div>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#myCarouse4" data-slide="prev">-->
        <!--    <span class="icon-prev"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#myCarouse4" data-slide="next">-->
        <!--    <span class="icon-next"></span>-->
        <!--</a>-->
    </div>
</div>
</div>

<!--네번째 슬라이드-->
 <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Modern Business
                </h1>
            </div>
            
      <div id="myCarouse5" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarouse5" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouse5" data-slide-to="1"></li>
            <li data-target="#myCarouse5" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>-->
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 1</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div>    
                    
                <div class="carousel-caption">
                    <h4>Caption 2</h4>
                </div>
            </div>
            <div class="item">
                    <div class="fill">
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <a href="portfolio-item.html">
                                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                            </a>
                        </div>
                    </div> 
                    <div class="carousel-caption">
                        <h4>Caption 3</h4>
                    </div>
            </div>
        </div>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#myCarouse5" data-slide="prev">-->
        <!--    <span class="icon-prev"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#myCarouse5" data-slide="next">-->
        <!--    <span class="icon-next"></span>-->
        <!--</a>-->
    </div>
</div>
</div>    
            
            
            



<!---------------------------로그인창 start---------------------->
  <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">로그인</h4>
        </div>
        <div class="modal-body">
          <p>아이디</p>
          <p>비밀번호</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!---------------------------로그인창 end---------------------------->


            
            
            
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Modern Business
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.3.7</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Portfolio Heading</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Modern Business Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v3.3.7</strong>
                    </li>
                    <li>jQuery v1.11.1</li>
                    <li>Font Awesome v4.2.0</li>
                    <li>Working PHP contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>17 HTML pages</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 15000 //changes the speed
    })
    </script>
    
    

</body>
<style>
    body {
    background-color: #cc9898;
    }
    
</style>



</html>
