 <html>
 <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mo-inha</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        	<meta charset="euc-kr">
        	<title>구글맵 API 활용하기</title>
        	
</head>
    <body style=" background-color: #f9f9f9;">
         
         <div class="col-sm-6 col-md-6"><div class="alert alert-danger" style="width:100%;height:100%;"><img src="http://blogfiles.naver.net/20160925_276/hynglug_1474747995787l0r8F_JPEG/%B9%DA%C5%C2%C8%AF1.JPG" class="fac_image"></div></div>
         <div class="col-sm-6 col-md-6"><div class="alert alert-danger" style="width:100%;height:100%;"><img src="http://blogfiles.naver.net/20160925_285/hynglug_1474747996028ShErY_JPEG/%B9%DA%C5%C2%C8%AF2.JPG" class="fac_image"></div></div>
    </body>
    </html>